<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="xyz.kitson.jamie.flickrlivewallpaper" android:versionCode="1" android:versionName="1.0">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.BIND_WALLPAPER" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="Flickr Live Wallpaper" android:icon="@drawable/icon"></application>
	<uses-sdk android:targetSdkVersion="29" />
	<uses-feature android:name="android.software.live_wallpaper" />
</manifest>
<!--

<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.authorwjf.live_wallpaper_p2" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-permission android:name="android.permission.BIND_WALLPAPER" />
	<application android:label="TJ Demo Live Wallpaper" android:icon="@drawable/icon">
		<service android:label="TJ Demo Live Wallpaper" android:name=".CubeWallpaper" android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>

  <meta-data android:name="android.service.wallpaper" android:resource="@xml/cube1" />

		</service>

    <activity android:label="Settings..."

    android:name=".WallpaperPrefsActivity"

     android:exported="true">

    </activity>

	</application>
	<uses-sdk 
  />
	<uses-feature android:name="android.software.live_wallpaper" />
</manifest>

-->